.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .header {
    flex-basis: 60px;
    line-height: 60px;
    padding: 0px 30px;
    border-bottom: 1px solid #464741;
  }
  .body {
    flex-grow: 1;
    padding: 30px;
  }
}
